@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f1f1f1;
  overflow-x: hidden;
}

header {
  background-color: #fffefe;
  font-family: "Poppins", sans-serif;
  position: fixed;
}

.humburger {
  display: none;
}

.humburger div {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main h1 {
  color: #407581;
  border-bottom: 7px solid #407581;
  font-family: "Roboto Slab", serif;
}

main h2 {
  color: #407581;
}

section .vision,
section .mission {
  width: 370px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 160, 211, 0.9)), color-stop(97.54%, rgba(144, 170, 194, 0.463045)));
  background: linear-gradient(180deg, rgba(39, 160, 211, 0.9) 0%, rgba(144, 170, 194, 0.463045) 97.54%);
}

section .vision h1,
section .mission h1 {
  font-family: "Roboto Slab", serif;
}

section .vision p,
section .mission p {
  font-family: "Poppins", sans-serif;
}

.q h1 {
  font-family: "Roboto Slab", serif;
  color: #407581;
}

.news h2 {
  font-family: "Poppins", sans-serif;
}

.news h1 {
  font-family: "Roboto Slab", serif;
  color: #407581;
}

.news img {
  width: 350px;
  height: 300px;
  border-radius: 70px;
}

.gallery {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15.67%, rgba(39, 160, 211, 0.392)), color-stop(53.3%, rgba(74, 173, 214, 0.3192)), color-stop(90.54%, rgba(120, 189, 218, 0.321617)), to(rgba(228, 228, 228, 0)));
  background: linear-gradient(180deg, rgba(39, 160, 211, 0.392) 15.67%, rgba(74, 173, 214, 0.3192) 53.3%, rgba(120, 189, 218, 0.321617) 90.54%, rgba(228, 228, 228, 0) 100%);
}

.gallery h1 {
  color: #407581;
}

.gallery img {
  width: 350px;
  height: 300px;
}

.events .view-more {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 160, 211, 0.378)), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, rgba(39, 160, 211, 0.378) 0%, rgba(196, 196, 196, 0) 100%);
}

.events .first-event {
  width: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 160, 211, 0.378)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(39, 160, 211, 0.378) 0%, rgba(0, 0, 0, 0) 100%);
}

.events h1 {
  font-family: "Roboto Slab", serif;
}

.events .date {
  background-color: #407581;
}

@media screen and (max-width: 800px) {
  header {
    position: relative;
    height: 4rem;
    width: 100vw;
    z-index: 10;
  }
  .humburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 2%;
    z-index: 101;
  }
  .icon {
    position: absolute;
    left: 2%;
  }
  .nav-links {
    position: absolute;
    z-index: 100;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #131418;
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links a {
    color: #fffefe;
    margin-top: 20px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  main h1 {
    border: 6px solid #407581;
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  width: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
/*# sourceMappingURL=style.css.map */